/*import Fonts from Google*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700&family=Permanent+Marker&display=swap');


@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMediumMedium {
  @media (min-width: 850px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}

body {
  /*color: #333;*/
  color:rgb(200,200,200);
  background-color: black;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $lightBlue;
}

a:hover {
  text-decoration: none;
}

p, ul, ol {
  margin: 0 0 1.65em 0;
}

p, li {
  line-height: 1.65;
}