/*.hero-slider {
  position: relative;

  div {
    outline: none;
  }

  &__interior {
    padding-top: 60px;
    padding-bottom: 60px;

    @mixin atMedium {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__overlay {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .68);
    padding: 40px;
    color: #FFF;
    @mixin atMedium {
      width: 50%;
    }
  }

}*/

.slick-dots {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 15px;
  @mixin atMedium {
    top: 97%;
  }
}

.slick-dots {

  li {
    list-style: none;
    display: inline;
  }

  li button {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(180, 180, 180, .5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    border-radius: 50%;
    border: none;
    margin: 0 4px;
    padding: 0;
    outline: none;
    transition: background-color .3s ease-out;
    cursor: pointer;
  }

  .slick-active button {
    background-color: $lightOrange;
  }

}


.for_slick_slider {
  display: flex;
  @mixin atMedium {
    margin-bottom: 50px;
  }
}

.for_slick_slider .items {
  width: 30%;
 /* height: 250px;*/
  margin: 50px auto; 
  position: relative;
}

.for_slick_slider .slideImage {
  display: block;
  margin: auto;
  width: 90%;
  padding-top: 55%;
  /*height: 270px;*/
  background-size: 110% auto;
  position: relative;
  background-position: top center; 
  transition: all .2s ease-in-out;
}

.for_slick_slider .slideImage:hover {
  background-size: 120% auto;
  text-decoration: none;
}

.for_slick_slider .items .slideTitle {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  color:white;
  padding: 10px;
  padding-top: 15px;
  text-align: center;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slideTitle h4{
  margin: 0;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slideTitle h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: inline;
  font-style: italic;
}

.slideTitle h5::after, .slideTitle h5::before {
  color: $lightOrange;
  content: " • ";
}

.for_slick_slider .items .slideDate {
  display: block;
  height: 70px;
  width: 70px;
  color:white;
  border: 2px solid $lightOrange;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  position: absolute;
  top:10px;
  right: 10px;
  overflow: hidden;
  text-decoration: none;
  @mixin atSmallMedium {
    height: 84px;
    width: 84px;
  }
}



.for_slick_slider .items .slideImage .slideDay {
    display: block;
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 3px;
    @mixin atSmallMedium {
      font-size: 1.3rem;
    }
  }



.for_slick_slider .items .slideImage .slideMonth {
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  @mixin atSmallMedium {
    font-size: 1.5rem;
  }
}