.main-navigation {
  padding-top: 2px;

  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @mixin atMedium {
    float: left;
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  display: block;
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  @mixin atMedium {
    display: inline-block;
    padding: 0;
  }
}

.main-navigation .current-menu-item .dropdown  a.dropbtn,
.main-navigation a:hover {
  color: $beige;
}

.main-navigation .current-menu-item ul a,{
  color: white;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}*/

/*li {
  float: left;
}*/

li a, .dropbtn {
  display: inline-block;
/*  color: white;*/
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
}

/*li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

li.dropdown {
  /*display: inline-block;*/
}

.dropdown-content {
  color: white;
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(40,40,40,0.6);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 1;
  margin: 0;
  padding: 0;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li {
  float: none;
  display: block;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content li a{
  float: none;
  display: block;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}


.dropdown-content a:hover {background-color: rgba(40,40,40,0.5); border-radius: 5px;}

.dropdown:hover .dropdown-content {
  display: block;
}

