.main-navigation {
  padding-top: 30px;
  padding-bottom: 20px;
  @mixin atMedium {
    padding-top: 2px;
    padding-bottom: 0px;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @mixin atMedium {
    float: left;
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
  }
}

.main-navigation a {
  display: block;
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  @mixin atMedium {
    display: inline-block;
    padding: 0;
  }
}

.main-navigation .current-menu-item .dropdown  a.dropbtn,
.main-navigation a:hover {
  color: $beige;
}

.main-navigation .current-menu-item ul a,{
  color: white;
}

.header-arrow {
  padding-left: 4px;
  font-weight: 900;
  display: none;
}

.dropdown .header-arrow {
  display: inline;
}

li a, .dropbtn {
  display: inline-block;
  text-align: left;
  padding: 40px 16px;
  text-decoration: none;
  @mixin atMedium {
    width: 100%;
    text-align: center;
  }
}


.dropdown-content {
  color: white;
  border-radius: 5px;
  position: relative;
  background-color: rgba(40,40,40,0.6);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  z-index: 1;
  margin: 0;
  padding: 0;
  display: none;
  @mixin atMedium {
    position: absolute;
  }
}

.dropdown-content li, .dropdown-content a {
  float: none;
  display: inline-block;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  text-align: left;
  @mixin atMedium {
    display: block
  }
}
.dropdown-content li a{
  padding: 12px 20px;
  text-align: left;
  font-style: italic;
  color: rgb(150,150,150);
  @mixin atMedium {
    font-style: normal;
    color: white;
  }
}


.dropdown-content a:hover {background-color: rgba(40,40,40,0.5); border-radius: 5px;}

.dropdown:hover .dropdown-content {
  display: block;
}

